@model Nop.Plugin.Misc.VendorEnhanced.Models.VendorModel

<div class="panel-group">
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("VendorEnhanced.QRCode")
            </div>
            <div class="panel-body">
                <script>
                    $(document).ready(function () {
                        var postData = {
                            VendorId: '@Model.Id'
                        };
                        addAntiForgeryToken(postData);

                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "/VendorEnhanced/VendorQRCode",
                            data: postData,
                            success: function (data) {
                                if (!data.Result)
                                    return;
                                $("#imgQRCode").prop("src", data.QRCodeImage);
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert('Failed to add vendor QRCode.');
                            }
                        });
                    });
                </script>
                <div class="form-group">
                    <div class="col-md-12">
                        <img id="imgQRCode" src="" alt="" style="height:300px; width:300px;" />
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("VendorEnhanced.QRCodeSaveBeforeEdit")
            </div>
        </div>
    }
</div>